<div id="home" data-role="view" data-title="IQ Mobile" data-layout="main"
     data-model="app.homeView.homeModel" data-bind="events: { show: show }">
    <div>
        <form>
            <div class="button-group button-group-vertical">
                <a data-role="button" data-bind="events: { click: goPhoto }">Pictures</a>
                <a data-role="button" data-bind="events: {click: gorelocater}">Relocate Inventory Items</a>
                <a data-role="button" data-bind="events: {click: goLocationSettings}">Change Location</a>
                <a data-role="button" data-bind="events: {click: goidentifier}">Identify Inventory Items</a>
                <a data-role="button" data-bind="events: {click: goAppSettings}">App Settings</a>
            </div>
        </form>
    </div>
</div>
